// Animations
@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(10vh);
        filter: blur(2rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
        filter: blur(0);
    }
}

.fade {
    animation: fade 0.45s ease-out;
}
