// Feature section
.feature-section {
    display: flex;
    align-items: center;
    gap: 0.75rem;

    img {
        width: 1.5rem;
        height: 1.5rem;
        object-fit: cover;
    }
}

// Hero containers
.hero-container,
.hero-image,
.footer-brand,
.footer-links {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    max-width: 440px;
    width: 100%;
}

.hero-container {
    z-index: 1;
}

.hero-image {
    position: relative;
    pointer-events: none;

    @media (max-width: 720px) {
        min-height: 450px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: visible;

        .spiral & {
            display: none;
        }
    }

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 1600px;
        height: 1200px;
        transform: translate(-50%, -50%) scale(1);
        transition: all 0.2s ease-in-out;

        &.hero-1 {
            transform: translate(-50%, -50%) scale(1);

            @media (max-width: 720px) {
                transform: translate(-50%, -50%) scale(1);
            }
        }

        &.hero-2 {
            transform: translate(-50%, -50%) scale(0.85);

            @media (max-width: 720px) {
                transform: translate(-50%, -60%) scale(0.75);
            }
        }

        &.hero-3 {
            transform: translate(-50%, -50%) scale(0.85);
            @media (max-width: 720px) {
                transform: translate(-50%, -65%) scale(0.75);
            }
        }
    }
}

// Logo section
.logo-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;

    h1 {
        color: var(--slate-400);
    }

    .glyph-detailed {
        width: 203.7px;
        height: 120px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transform: scale(1.28) translateY(6%);
        }
    }

    .wordmark {
        height: 3rem;
        width: auto;
    }
}

// Action section
.action-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
}

.action-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.action-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    height: 4rem;
    padding: 1.5rem;
    border-radius: 0.75rem;
    background-color: var(--slate-950);
    color: white;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1;
    box-shadow:
        0 1px 3px rgba(0, 0, 0, 0.1),
        0 1px 2px -1px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;

    &:hover,
    &:focus {
        background-color: black;
        color: white;
        transform: translateY(-0.125rem);
        box-shadow:
            0 2px 6px rgba(0, 0, 0, 0.2),
            0 2px 4px -2px rgba(0, 0, 0, 0.2);
    }

    &:active {
        transform: translateY(0);
        box-shadow:
            0 1px 3px rgba(0, 0, 0, 0.1),
            0 1px 2px -1px rgba(0, 0, 0, 0.1);
    }

    @media (max-width: 720px) {
        width: 100%;
    }

    img {
        width: 1.5rem;
        height: 1.5rem;
        object-fit: cover;
    }

    &.gray {
        background-color: var(--slate-100);
        color: var(--slate-900);
    }
}

// QR section
.qr-section {
    display: flex;
    align-items: center;
    background-color: var(--slate-100);
    border: 1px solid transparent;
    border-radius: 1.5rem;
    transition: all 0.2s ease-in-out;

    @media (max-width: 720px) {
        display: none;
    }

    &:hover {
        border-color: var(--slate-200);
        transform: translateY(-0.125rem);
        box-shadow:
            0 0.125rem 0.25rem rgba(0, 0, 0, 0.05),
            0 1rem 2rem rgba(0, 0, 0, 0.05);
    }
}

.qr-container {
    display: flex;
    flex-shrink: 0;
    width: 10rem;
    height: 10rem;
    padding: 0.5rem;
    border: 2px solid var(--slate-100);
    border-radius: 1.5rem;
    background-color: white;
    overflow: hidden;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        transform: scale(1.1);
        border-color: var(--uno-blue);
        box-shadow:
            0 0.125rem 0.25rem rgba(0, 0, 0, 0.05),
            0 1rem 2rem rgba(0, 0, 0, 0.05);
    }

    img {
        width: 100%;
        height: auto;
    }
}

.qr-text {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 0.25rem;
    padding: 1.5rem;
}

// Footer
.footer-brand {
    align-items: flex-start;
    gap: 1.5rem;

    .brand-section {
        display: flex;
        align-items: center;
        gap: 0.75rem;

        img {
            max-height: 48px;
            width: auto;
        }
    }
}

.footer-links {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 0.75rem;

    @media (max-width: 720px) {
        justify-content: flex-start;
        margin-top: 1.5rem;
    }

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 3rem;
        height: 3rem;
        border-radius: 999px;
        background-color: var(--slate-800);
        color: white;
        font-weight: 700;

        img {
            width: 1.5rem;
            height: 1.5rem;
        }
    }
}
