// Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

// Selection styling
::selection {
    color: var(--uno-blue);
    background: var(--slate-200);
}

::-moz-selection {
    color: var(--uno-blue);
    background: var(--slate-200);
}
